.content {
    border: 1px dashed #A0E4CB; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    width: 470px;
}

.lightContent {
    color:rgba(94, 91, 91, 0.659);
    border: 1px dashed #A0E4CB; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 470px;
}

.title {
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.lightTitle {
    color: rgba(110 104 104 / 31%);
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.boxes {
    display: flex;
    width: 310px;
    flex-wrap: wrap;
}

.boxContent {
    width: 80px;
    height: 80px;
    background-color: rgba(94, 91, 91, 0.659);
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #A0E4CB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart {
    background-color: #A0E4CB;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;

}

.winLose {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 10px;

}

@media only screen and (max-width: 780px) {
    .content {
        width: 271px;
        padding: 30px;
    }
    .lightContent {
        width: 271px;
        padding: 30px;
    }
    .boxContent {
        width: 70px;
        height: 70px;
    }
}