.content {
    border: 1px dashed #B1AFFF;
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 470px;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Boogaloo', 'cursive'
}

.taskItem {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    color: white;
    width: 210px;
}

.inputTask {
    padding: 6px;
    width: 170px;
    border-radius: 10px;
    background-color: rgba(94, 91, 91, 0.659); 
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Noto Serif Telugu', serif;
}

.inputTask:focus {
    outline: none;
    border: 1px dashed white;
}

input::placeholder {
    color: white;  
}

.addBtn {
    background-color: #B1AFFF;
    padding: 30px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
}

.addBtn:hover {
    background-color: #b2afffa5;
}

.addContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.delete {
    margin-right: 20px;
    background-color: rgb(211, 100, 100);
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.taskContent {
    display: flex;
    align-items: center;
}

.done {
    color: rgb(100, 211, 100);
    font-weight: bold;
}