.content {
    border: 1px dashed #FFAE6D; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    width: 470px;
}

.lightContent {
    color:rgba(94, 91, 91, 0.659);
    border: 1px dashed #FFAE6D; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 470px;
}

.title {
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.lightTitle {
    color: rgba(110 104 104 / 31%);
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.inputName {
    padding: 6px;
    width: 170px;
    border-radius: 10px;
    background-color: rgba(94, 91, 91, 0.659); 
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Noto Serif Telugu', serif;
    border: none;
}

.fetch {
    background-color: #FFAE6D;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.refresh {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    color: #FFAE6D;
}

.refresh:hover {
    color: white;
    background-color: #FFAE6D;
}

.inputContent {
    display: flex;
    align-items: center;
}

.error {
    color: rgb(225, 88, 88);
    font-weight: bold;
}

.image {
    background-color: white;
    width: 134px;
    border-radius: 70px;
    margin-right: 30px;

}

.infoContent {
    display: flex;
    align-items: center;
}

.typeInfo {
    color:#FFAE6D;
    margin-right: 10px;
}

.informationContent {
    display: flex;
}

.info {
    font-weight: bold;
}

@media only screen and (max-width: 780px) {
    .infoContent {
        flex-direction: column;
    }
    .content {
        width: 271px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lightContent {
        width: 271px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputContent {
        flex-direction: column;
    }
    .fetch {
        margin: 10px 0;
    }
    .refresh {
        margin: 0;
    }
}