.iconContent {
    background-color: rgb(15, 14, 14);
    color: #BA94D1;
    width: 26px;
    display: flex;
    justify-content: center;
    padding: 15px 22px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}