.buttonsExercicies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.button {
    padding: 15px 22px;
    border-radius: 15px;
    background-color: rgb(255 252 252 / 31%);
    font-weight: bold;
    font-family: 'Boogaloo', 'cursive';
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    width: 70px;
    margin-bottom: 10px;
}

.button1 {
    color: #B8E8FC;
    border: 1px solid #B8E8FC;
}
.button1:hover {
    background-color: #B8E8FC;
    color: white;
}
.button1.selectedBtn {
    background-color: #B8E8FC;
    color: white;
}

.button2 {
    color: #CE7777;
    border: 1px solid #CE7777;
}
.button2:hover {
    background-color: #CE7777;
    color: white;
}
.button2.selectedBtn {
    background-color: #CE7777;
    color: white;
}

.button3 {
    color: #8EC3B0;
    border: 1px solid #8EC3B0;
}
.button3:hover {
    background-color: #8EC3B0;
    color: white;
}
.button3.selectedBtn {
    background-color: #8EC3B0;
    color: white;
}