.buttonsExercicies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.button {
    padding: 15px 22px;
    border-radius: 15px;
    background-color: rgb(255 252 252 / 31%);
    font-weight: bold;
    font-family: 'Boogaloo', 'cursive';
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
    width: 70px;
    margin-bottom: 10px;
}

.button1 {
    color: #A0E4CB;
    border: 1px solid #A0E4CB;
}
.button1:hover {
    background-color: #A0E4CB;
    color: white;
}
.button1.selectedBtn {
    background-color: #A0E4CB;
    color: white;
}

.button2 {
    color: #bbee81;
    border: 1px solid #bbee81;
}
.button2:hover {
    background-color: #bbee81;
    color: white;
}
.button2.selectedBtn {
    background-color: #bbee81;
    color: white;
}