.letters {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0 20px 0;
}

.letter {
    border: 1px solid black;
    border-radius: 10px;
    padding: 9px;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2px 4px;
    background-color: transparent;
    color: white;
    width: 40px;
}

.lightLetter {
    border: 1px solid black;
    border-radius: 10px;
    padding: 9px;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2px 4px;
    background-color: transparent;
    width: 40px;
    color: black;
}

.letter.letterSelected {
    background-color: #a0c8e4;
    color: black;
}

.lightLetter.letterSelected {
    background-color: #a0c8e4;
    color: black;
}