.content {
    border: 1px dashed #9E7676; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    color: white;
    border-radius: 20px;
    width: 470px;
}

.lightContent {
    color:rgba(94, 91, 91, 0.659);
    border: 1px dashed #9E7676; 
    padding: 20px 20px 20px 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 470px;
}

.title {
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.lightTitle {
    color: rgba(110 104 104 / 31%);
    font-weight: 'bold';
    font-family: 'Boogaloo', 'cursive';
    font-size: 30px;
}

.subtitle {
    color: #9E7676;
    font-family: 'Noto Serif Telugu', serif;
    font-size: 14px;
}

.inputContent {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.inputName {
    padding: 6px;
    width: 170px;
    border-radius: 10px;
    background-color: rgba(94, 91, 91, 0.659); 
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Noto Serif Telugu', serif;
    border: none;
}

.inputName:focus {
    outline: none;
    border: 1px dashed white;
}

.input::placeholder {
    color: white;  
}

.search {
    background-color: #9E7676;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.restart {
    background-color: #9E7676;
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 90px;
    font-weight: bold;
    cursor: pointer;
}

.restart:hover {
    background-color: white;
    color: #9E7676;
}

.characterContent {
    background-color: rgba(94, 91, 91, 0.659);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px 0;
    padding-right: 14px;
}

.lightCaracterContent {
    background-color: rgba(208, 205, 205, 0.659);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px 0;
    padding-right: 14px;
}

.image {
    width: 200px;
}

.valueName {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Noto Serif Telugu', serif;
    color:rgb(158, 150, 150)
}

.value {
    display: inline-block;
}

.previus {
    background-color: rgb(188, 218, 129);
    color:black;
    padding: 6px;
    width: 70px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.next {
    background-color: rgb(188, 218, 129);
    color:black;
    padding: 6px;
    width: 70px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .content {
        width: 251px;
        padding: 24px 38px;
    }
    .title {
        font-size: 24px;
    }
    .inputContent {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .search {
        margin: 10px 0;
    }
    .characterContent {
        flex-direction: column;
    }
    .image {
        width: 211px;
    }
}