.label {
    font-family: 'Noto Serif Telugu', serif;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.inputName {
    padding: 6px;
    width: 60px;
    border-radius: 10px;
    background-color: rgba(94, 91, 91, 0.659); 
    margin-right: 10px;
    font-size: 12px;
    font-family: 'Noto Serif Telugu', serif;
    border: none;
}

.inputName:focus {
    outline: none;
    border: 1px dashed white;
}

@media only screen and (max-width: 780px) {
    .inputName {
        margin-bottom: 20px;
        margin-right: 82px;
    }
} 